
/* From uiverse.io by @alexmaracinaru */
.cta {
    position: relative;
    margin: auto;
    padding: 5px 10px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
   }



   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: var(--button-bg);
    width: 30px;
    height: 30px;
    transition: all 0.3s ease;
   }
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: var(--button-fg);
   }
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--button-fg);
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   .cta:hover:before {
    width: 100%;
   }
   .cta:hover svg {
    transform: translateX(0);
   }
   .cta:active {
    transform: scale(0.95);
   }
       

   @media screen and (min-width: 768px) {
    .cta {
        padding: 8px 16px;
    }
    .cta:before {
        width: 35px;
        height: 35px;
    }
}