:root {
  --text-color: #212529;
  --background-color: #f8f9fa;
  --button-bg: #adb5bd;
  
  --card-fg: var(--text-color);
  --button-fg: var(--text-color);
  --card-bg: var(--background-color);
  --blob-color: var(--button-bg);
}


@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #f8f9fa;
    --background-color: #212529;
    --button-bg: #343a40;
  }
} 

/* Markdown text wrapper */
.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;

  /* Dark mode */
  @media (prefers-color-scheme: dark) {
    color: var(--text-color);
    background-color: var(--background-color);
  }

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--text-color);
}
body {
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pad-1 {
  padding: 15px;
}
