:root {
  --button-bg: #c2edce;
  --button-fg: #388087;

  --card-bg: #f6f6f2;
  --card-fg: #388087;

  --text-color: #388087;
  --background-color: #f6f6f2;

  --blob-color: var(--button-bg);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pad-1 {
  padding: 15px;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
