@import url('https://fonts.cdnfonts.com/css/dm-sans');

:root {
  --text-color: rgb(35, 36, 36);
  --background-color: rgb(217 226 212/0.2);

  

  
  --card-fg: var(--text-color);
  --button-fg: var(--text-color);
  --card-bg: var(--background-color);
}

.button-hover {
  --button-bg-opacity: 0.2;
  background-color: rgb(233 94 47/var(--button-bg-opacity));
}
.button-hover:hover {
  --button-bg-opacity: 0.7;
}


@media (prefers-color-scheme: dark) {
  :root {
    --text-color: rgb(217, 226, 212);
    --background-color: rgb(35, 36, 36);
  }

  .button-hover {
    background-color: rgb(233 94 47/var(--button-bg-opacity));
  }
} 

/* Markdown text wrapper */
.wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: DM Sans,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  color: var(--text-color);
}
body {
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pad-1 {
  padding: 15px;
}
